.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15rem;
  height: 22rem;
  box-shadow: 0px 0px 3px 3px rgb(148, 148, 148);
}

.card__title {
  display: -webkit-box;
  flex-grow: 10;
  padding-top: 5%;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
  font-size: 1.5rem;
}

.card__author {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__content {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card__image {
  transition: 0.2s;
}

.card__image:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px 3px rgb(37, 37, 37);
}
