.search {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.search__button {
  border: 0.1rem solid rgb(148, 148, 148);
  border-radius: 0.5rem;
  padding: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;
}

.search__button:hover {
  background-color: rgb(214, 216, 235);
}

.search__input {
  border: 0.1rem solid rgb(148, 148, 148);
  padding: 0.3rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}
